<header class="transition-all duration-300 relative w-screen top-0 left-0 bg-white z-50 py-4">
	<div data-navigation class="z-20 w-full flex flex-col gap-4 transition-all duration-300">
		<div class="container">
			<a href="{{ site.url }}" rel="home">{% include "partial/image.twig" with { image: '/wp-content/uploads/2023/11/stirling-asphalt-logo.jpeg', alt: 'Stirling Asphalt', class: "w-[300px] sm:w-[400px] max-md:mx-auto md:w-1/2"  } %}</a>
		</div>
		<div class="bg-black">
			<div class="container">
				<nav id="nav-main" role="navigation">
					{% include 'menu.twig' with {
				items: menu.get_items
			} %}
				</nav>
			</div>
		</div>
	</div>
</header>
