<div data-scrolling-text
	class="py-3 bg-olive-green text-white overflow-hidden lg:py-6"
	style="transition: all 0.3s ease;">
	<div class="relative z-0 flex items-center gap-1" aria-hidden="true" ref="inner">
		{% for item in 0..20 %}
			<div class="scrolling-text flex flex-shrink-0 items-center">
				• • • Renewable Energy • • • Global Decarbonisation • • • Natural Hydrogen
			</div>
		{% endfor %}
	</div>
</div>
