{% extends "page.twig" %}

{% block content %}
	<section class="home-banner max-md:flex max-md:flex-col md:h-[400px] 2xl:h-[500px] !py-0">
		{% include "partial/image.twig" with { image: Image(fields.banner.background).src, alt: fields.banner.background.alt, class: "relative md:absolute top-0 left-0 w-full h-full object-center object-cover pointer-events-none" } %}
		<div class="md:container relative h-full">
			<div class="block-content-small max-md:py-6 w-full md:w-1/2 md:h-full justify-center bg-black bg-opacity-70 px-5 md:px-8">
				{{ fields.banner.content }}
			</div>
		</div>
	</section>


	<section class="relative !pb-0">
		<div class="container block-content">
			{{ fields.content_block.content }}
		</div>
	</section>

	<section class="relative !pb-0">
		<div class="container grid md:grid-cols-2 gap-6">
			{% for item in services %}
				{% include "tease-service.twig" %}
			{% endfor %}
		</div>
	</section>

	<section class="relative">
		<div class="container block-content">
			{{ fields.content_block_2.content }}
		</div>
	</section>

	<section class="!pb-0 relative w-full aspect-[16/7]">
		{% include "partial/image.twig" with { image: Image(fields.quote_section.background).src, alt: fields.quote_section.background.alt, class: "relative w-full h-full object-center object-cover pointer-events-none" } %}
	</section>

{% endblock %}
