{% extends "base.twig" %}

{% block content %}
	<div class="relative w-full aspect-[16/4]">
		{% include "partial/image.twig" with { image: '/wp-content/uploads/2023/11/quote-bak.jpg', alt: 'Stirling Asphalt Services', class: "relative w-full h-full object-center object-cover pointer-events-none" } %}
	</div>

	<section class="relative">
		<div class="container grid md:grid-cols-2 gap-6">
			{% for item in services %}
				{% include "tease-service.twig" %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
